.App {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  background-color: #ccc;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.container-fluid {
  padding: 0;
}

.link-artist {
  padding: 0;
  text-decoration: none;
}

.list-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  border: none;
}

.artist-card {
  border: none;
  padding: 0;
  color: #333;
  box-shadow: 0px 5px 20px 0px #333;
  transition: linear;
  z-index: 1;
}

.artist-card .card-body {
  overflow: hidden;
  overflow-wrap: break-word;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.navbar {
  padding-left: 5%;
}

.artist-card:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 9999;
}

.artist-art {
  width: auto;
  padding: 0;
  position: relative;
}

.artist-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 25%;
  width: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: left;
  justify-content: left;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 2px 2px #000;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.2s;
}

.artist-details-overlay:hover {
  backdrop-filter: blur(2px);
}

.artist-details-overlay span {
  padding-top: 20px;
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.artist-details-overlay .card-title {
  font-size: 5rem;
}
.artist-details-overlay .card-text {
  font-size: 2rem;
}

.tracks-list {
  padding-top: 50px;
  align-items: flex-start;
}

.tracks-list .card-title {
  padding-left: 10px;
}

.albums {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 0;
}

.track-name {
  text-align: left;
  width: 49%;
  display: inline-block;
}

.duration {
  text-align: right;
  width: 49%;
  display: inline-block;
}

@media screen and (max-width: 380px) {
  .App {
    margin-left: 3%;
  }

  .album-count {
    display: none;
  }
}
